<html lang="en">

<head>
    <title> Automotive </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="./style.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="./assets/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="./assets/fontawesome/css/brands.css" rel="stylesheet">
    <link href="./assets/fontawesome/css/solid.css" rel="stylesheet">
</head>

<body ng-app ng-controller="MainController">
    <div class="container-fluid">
        <section class="content">

            <!-- head -->
            <div class="row">
                <div class="col-md-12">
                    <div class="grid support-content">
                        <div class="grid-body">
                            <div class="row">
                                <div class="col-md-12 table-responsive" id="module">
                                    <div>
                                        <div>
                                            <div class="panel-heading with-border">
                                                <h2> <span class="widget-icon"> <i class="fa-brands fa-raspberry-pi"></i> </span> <strong id="TableTitle"> ROBO CAR </strong> <small>donkeycar</small></h2>
                                            </div>

                                            <div class="panel-body collapse in">
                                                services...
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="grid support-content">
                        <div class="grid-body">
                            <div class="row">
                                <div class="col-md-12 table-responsive" id="module">
                                    <div>
                                        <div>
                                            <div class="panel-heading with-border">
                                                <h2> <span class="widget-icon"> <i class="fa-brands fa-linux"></i> </span> <strong> System </strong> <small>Information</small></h2>
                                            </div>

                                            <div class="panel-body collapse in">
                                                <div><span><i class="fa-solid fa-memory"></i></span><strong> Memory </strong></div>
                                                <div></div>
                                                <div><span><i class="fa-solid fa-sd-card"></i></span><strong> SD Card </strong></div>
                                                <div></div>
                                                <div><span><i class="fa-solid fa-microchip"></i></span><strong> Microchip </strong></div>
                                                <div></div>
                                                <div><span><i class="fa-solid fa-hard-drive"></i></span><strong> Hard Drive </strong></div>
                                                <div></div>
                                                <div><span><i class="fa-solid fa-server"></i></span><strong> Server </strong></div>
                                                <div></div>
                                                <div><span><i class="fa-solid fa-network-wired"></i></span><strong> Network </strong></div>
                                                <div></div>
                                                <div><span><i class="fa-solid fa-power-off"></i></span><strong> Power </strong></div>
                                                <div></div>
                                                <div><span><i class="fa-solid fa-robot"></i></span><strong> Robot </strong></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="grid support-content">
                        <div class="grid-body">
                            <div class="row">
                                <div class="col-md-6 table-responsive" id="module">
                                    <div>
                                        <div>
                                            <div class="panel-heading with-border">
                                                <h2> <span class="widget-icon"> <i class="glyphicon glyphicon-bookmark"></i> </span> <strong id="TableTitle"> Bookmarks </strong> <small>Favorite</small></h2>
                                            </div>

                                            <div class="panel-body collapse in">
                                                <div style="height: calc(100vh - 100px);color: black;" class="table-responsive">
                                                    <table class="table table-hover small-font">
                                                        <tbody>
                                                            <tr ng-repeat="bookmark in bookmarks">
                                                                <td><a href="{{bookmark.url}}">{{bookmark.key}}</a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- tail -->
            <div class="row">
                <div class="col-md-12">
                    <div class="grid support-content">
                        <div class="grid-body">
                            <div class="row">
                                <div class="col-md-12 table-responsive" id="module">
                                    <div>
                                        <div>
                                            <div class="panel-heading with-border">
                                                <h2> <span class="widget-icon"> <i class="glyphicon glyphicon-console"></i> </span> <strong id="TableTitle"> Services </strong> <small>favorite</small></h2>
                                            </div>

                                            <div class="panel-body collapse in">
                                                <div style="height: calc(100vh - 100px);color: black;" class="table-responsive">
                                                    <table class="table table-hover small-font">
                                                        <thead>
                                                            <tr>
                                                                <th>Service name</th>
                                                                <th><i class="glyphicon glyphicon-signal"></i> Status</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="service in services">
                                                                <td>{{service.name}}</td>
                                                                <td class="svc-state-{{service.running}}">{{vehicle.running}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="script.js"></script>
</body>

</html>